---
import Layout from '../layouts/Layout.astro';
import SmallBouton from '../components/SmallBouton.astro';
---

<Layout>
	<h1 class="text-3xl font-bold underline text-light-blue">
		Test de tailwindcss
	</h1>
	<SmallBouton icon="parametres" size="lg" />
</Layout>
