---
import Layout from "../layouts/Layout.astro";
import SmallBouton from "../components/boutons/SmallBouton.astro";
import MainBouton from "../components/boutons/MainBouton.astro";
import ContactBouton from "../components/boutons/ContactBouton.astro";
import ChannelProjet from "../components/ui/ChannelProjet.astro";
import CardCV from "../components/boutons/CardCV.astro";
import Fleche from "../components/ui/Fleche.astro";
import FooterAccueil from "../components/layout/FooterAccueil.astro";
import FooterAccueilMobile from "../components/layout/FooterAccueilMobile.astro";
---

<Layout>
  <h1 class="text-3xl font-bold underline text-light-blue">
    Test de tailwindcss
  </h1>
  <SmallBouton type="parametres" size="lg" />
  <SmallBouton type="telechargement" size="lg" />
  <SmallBouton type="zoom" size="lg" />
  <SmallBouton type="dezoom" size="lg" />

  <MainBouton type="retour" />
  <MainBouton type="contact" />
  <MainBouton type="presentation" />
  <MainBouton type="dezoom" />

  <ContactBouton type="email" />
  <ContactBouton type="github" />
  <ContactBouton type="linkedin" />
  <ContactBouton type="instagram" />
  <div class="flex flex-row gap-4">
    <ChannelProjet isEmpty={true} />
    <ChannelProjet
      isEmpty={false}
      projectCover="/src/assets/images/asafram_cover.svg"
      projectTitle="Project 1"
    />
  </div>

  <CardCV size="desktop" />
  <CardCV size="mobile" />

  <Fleche size="desktop" direction="gauche" />
  <Fleche direction="droite" />
  <Fleche direction="haut" />
  <Fleche direction="bas" />
  <FooterAccueilMobile />
</Layout>
