---
import IconTelechargement from '../assets/icones/telechargement.svg';
import IconZoom from '../assets/icones/zoom.svg';
import IconDezoom from '../assets/icones/dezoom.svg';
import IconParametres from '../assets/icones/parametres.svg';
---

<a class="w-10 h-20" href="">
    <IconParametres class="w-32 h-32" fill="#FFFFFF"/>
</a>