---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import Grid from "../../assets/icons/grid.webp";
import Line from "../../assets/icons/line.webp";
import CardProjet from "../../components/CardProjet.astro";
import { getProjets } from "../../backend/backend.mjs";
const projets = await getProjets();
---

<Layout>
  <section class="px-20">
    <header>
      <h1 class="uppercase">Mes Projets</h1>
    </header>
    <div class="max-w-7xl mx-auto px-4 pb-44">
      <div class="flex gap-4 pb-16">
        <Image class="w-10" src={Grid} alt="Grid" />
        <Image class="w-10" src={Line} alt="Line" />
      </div>
      <ul
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-16"
      >
        {
          projets.map((projet) => (
            <li>
              <CardProjet {...projet} />
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
